* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --box-size: 100px;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vh;
}

.grid-chessboard {
  display: grid;
  height: calc(8 * var(--box-size));
  width: calc(8 * var(--box-size));
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.grid-chessboard-square {
  height: var(--box-size);
  width: var(--box-size);
  background-color: red;
}
